$clr-white:#fff;
$clr-black:#000;
$clr-primary:#ff5928;
$clr-secondary:#224e7a;
$clr-text-color: #333;
//$clr-text-dark:#999;
$clr-text-blue:#2173bc;
$clr-footer-bg:#1a1a1a;
$theme-bg:#f2f2f2;
$font-regular:400;
$font-light:300;
$font-semibold:600;
$font-bold:700;
$font-extrabold:900;

/* breakpoints */
$font: 'Lato',
sans-serif;
$breakpoint-xxs:420px;
$breakpoint-xs:767px;
$breakpoint-sm:992px;
$breakpoint-lg:1200px;