/* element.scss */

* {
    outline: 0;
}

html {
    font-size: 10px;
}

body {
    line-height: initial;
    font-family: $font;
    color: $clr-text-color;
    // counter-reset: section1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 10px;
    font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}