.btn {
    display: inline-block;
    padding: 15px 21px;
    color: $clr-white;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: $clr-primary;
    text-decoration: none;
    font-weight: $font-bold;
    border: none;
    border-radius: 0;
    border: 0;
    @include transition(all, 0.3s, linear);

    &:active,
    &:focus,
    &:hover,
    &:active:focus {
        background: #f04814;
        outline: none;
        color: $clr-white;
        box-shadow: none;
        text-decoration: none;
    }

    &.type2 {
        background: $clr-white;
        color: $clr-primary;
    }

    &.btn-link {
        background: transparent;
        color: $clr-primary;
        padding: 5px 0;
        font-size: 1.4rem;

        &:active,
        &:focus,
        &:hover,
        &:active:focus {
            background: transparent;
        }

        &.btn-resent {
            display: table;

            .icon,
            .text {
                display: table-cell;
                vertical-align: middle;
                color: #86e204;
            }

            .icon {
                padding-right: 5px;
            }
        }

        &.btn-link-icon {
            font-size: 2.3rem;
        }
    }

    &.typ-red {
        color: $clr-primary;
    }

    &.typ-blue {
        color: #004164;
        text-transform: inherit;
    }

    &.btn-icon {
        background: #f6f6f6;
        color: $clr-primary;
        padding: 30.3px 25px;
        font-size: 25px;
        width: 100%;

        .icon {
            display: inline-block;
            height: 25px;
        }

        &:hover {
            background: $clr-primary;
            color: #fff;
        }
    }

    &.btn-txt-icon {
        border-radius: 30px;
        padding: 0;
        background: #dbdbdb;

        .icon {
            background: $clr-secondary;
            color: #fff;
            display: block;
            float: left;
            padding: 11px;
            text-align: center;
            border-radius: 30px;
        }

        .txt {
            background: #dbdbdb;
            color: $clr-text-color;
            background: #dbdbdb;
            color: #5d5d5d;
            text-align: center;
            border-radius: 30px;
            display: block;
            float: left;
            padding: 8px 12px 8px 6px;
        }
    }

    &.btn-icon-text {

        .text,
        .icon {
            vertical-align: middle;
            display: inline-block;
        }

        .icon {
            font-weight: bold;
            margin-left: 5px;
        }
    }

    &.btn-sm {
        font-size: 1.2rem;
        padding: 6px 10px;
        min-width: 70px;
    }

    &.btn-md {
        font-size: 1.3rem;
        padding: 10px 15px;
    }

    &.btn-call {
        display: table;

        .icon,
        .text {
            display: table-cell;
            vertical-align: middle;
        }

        .icon {
            font-size: 20px;
            padding-right: 5px;
        }
    }

    &.btn-edit {
        padding: 3px 6px;
        background: #f4f4f4;
        border-radius: 50%;
        width: 26px;
        height: 26px;

        .icon-edit {
            color: $clr-text-color;
            font-size: 12px;
        }

        &:active,
        &:focus,
        &:hover,
        &:active:focus {
            background: $clr-secondary;

            .icon-edit {
                color: $clr-white;
            }
        }
    }

    &.btn-typ2 {
        border: 1px solid $clr-primary;
        color: $clr-primary;
        background: $clr-white;
    }
}

@media(max-width:$breakpoint-xs) {
    .btn {
        &.btn-link {
            font-size: 1.4rem;

            &.grey-link {
                color: rgba(#5d5d5d, 0.50);
                white-space: initial;
                text-align: left;
                position: relative;
                width: 100%;
                padding-right: 30px;

                &:after {
                    content: "\e919";
                    font-family: icomoon !important;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    font-size: 20px;
                    color: $clr-primary;
                    margin-top: -14px;
                }
            }
        }

        &.btn-call {
            .icon {
                font-size: 17px;
            }

            .text {
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
}