body {
    font-size: 10px;
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.cm-bold {
    font-weight: $font-bold;
}

.bs-header {
    position: static;

    .my-nav {
        text-align: left;

        .logo-parent {
            padding: 0;
        }
    }
}

.title {
    // &.type-md {
    //     font-size: 1.6rem;
    //     line-height: 20px;
    //     text-transform: uppercase;
    //     font-weight: $font-bold;
    // }

    &.type-big {
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 21px;
        font-weight: $font-bold;
    }
}

.cm-regular {
    font-weight: $font-regular;
}

.cm-light {
    font-weight: $font-light;
}

.cm-dot {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.theme-gray {
    background: $theme-bg;
}

.theme-blue-app {
    background: $clr-secondary;
}

.set-bg {
    background-size: cover !important;
}

.col-wrapper {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.card-shadow {
    margin: 6px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.box-shadow {
    img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin: 6px 0;
    }
}

.container {
    padding: 0 10px;
}

.aem-GridColumn {
    padding: 0;
}

.with-space {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;

    >[class^="col-"] {
        padding: 0 15px;
    }

    >.aem-GridColumn {
        padding: 0 15px;
    }
}

.col-2,
.col-3,
.col-4,
.col-5 {
    box-sizing: border-box;
    float: left;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.cm-img-responsive {
    max-width: 100%;
}

section {
    margin-bottom: 25px;
}


.cm-sprite2 {
    background: url('../images/sprite-icon.svg') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    margin: 6px auto;
    background-size: 370px;

    &.personal-loan {
        background-position: -8px -180px;
    }

    &.business-loan {
        background-position: -64px -180px;
    }

    &.home-loan {
        background-position: -116px -180px;
    }

    &.property {
        background-position: -168px -180px;
    }

    &.unit-linked {
        background-position: -222px -180px;
    }

    &.child-plan {
        background-position: -277px -180px;
    }

    &.retirement-plan {
        background-position: -277px -236px;
    }

    &.fd {
        background-position: -222px -236px;
    }

    &.term-ins {
        background-position: -64px -180px;
    }

    &.cyber-ins {
        background-position: -116px -180px;
    }

    &.motor-ins {
        background-position: -168px -180px;
    }

    &.travel-ins {
        background-position: -222px -180px;
    }

    &.emi-card {
        background-position: -277px -180px;
    }

    &.emi-store {
        background-position: -277px -236px;
    }

    &.smart-phone {
        background-position: -222px -236px;
    }

    &.led-tv {
        background-position: -168px -180px;
    }
}


.price {
    white-space: nowrap;
}

.cm-line-break {
    display: block;
}

.cm-dn {
    display: none;
}

.icon-location {
    background: no-repeat;
    border: none;
    cursor: pointer;
}

.rounded-card {
    //@include border-radius(11px);
    @include box-shadow(0, 0, 16px, rgba(0, 0, 0, 0.11));
}