.lyt-section {
    padding: 0;

    //margin-bottom: 20px
    .product-list-app {
        padding: 10px;
    }

    .swiper-container {
        padding: 0;
    }

    .card-type-1,
    .card-type-3 {
        .aem-GridColumn {
            &:nth-child(even) {
                .bs-product-app {
                    padding-right: 0;
                    border-right-color: #fff;
                }
            }

            &:nth-child(1),
            &:nth-child(2) {
                .bs-product-app {
                    padding-top: 0;
                }
            }

            &:nth-child(1),
            &:nth-child(3) {
                .bs-product-app {
                    padding-left: 0;
                }
            }

            &:nth-last-child(1),
            &:nth-last-child(2) {
                .bs-product-app {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }

    .card-type-2 {
        margin-left: -4px;
        margin-right: -4px;

        .aem-Grid {
            .aem-GridColumn {
                padding: 0 4px;

                .aem-GridColumn {
                    padding: 4px 0;
                }
            }
        }


        .bs-product-app {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
            overflow: hidden;
        }


    }

    &.todays-deal {
        padding: 10px 0 0;

        .bs-fluid-container {
            padding: 10px 0;
            background: rgba(255, 255, 255, 0.5);
        }
    }

    &.new-launch {
        .aem-GridColumn {

            a {
                display: block;

                img {
                    float: left;
                }
            }
        }
    }

    &.theme-gray {
        padding: 18px 0;
    }

    &.theme-blue-app {
        padding: 18px 0;

        .bs-heading {
            .title {
                color: $clr-white;
            }
        }

        .btn {
            color: #000;
            background: $clr-white;

            &.btn-link {
                color: $clr-white;
                background: transparent;

            }
        }
    }

    &.type-multicolor {
        .bs-fluid-container {
            padding-top: 10px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                background: #252e3f;
                height: 50%;
                z-index: -1;
            }
        }
    }

    .offers-links-wrap {
        padding: 0 0 0 15px;

        .btn-link {
            margin: 4px 0;
        }

        .title {
            margin-bottom: 8px;
        }
    }

    .card-type-3 {
        .bs-product-app {
            overflow: hidden;
        }

        .img-wrap-app {
            width: 31%;
            float: left;
        }

        .product-desc-app {
            padding-left: 5px;
            width: 69%;
            float: right;
            box-sizing: border-box;
            margin: 0;
            font-size: 10px;
            line-height: 15px;

            .title {
                margin: 0;
            }
        }
    }

    &.flip-slider {
        .swiper-slide {
            //border-radius: 12px;
            overflow: hidden;
        }

        .swiper-container {
            padding: 0 30px;
        }
    }

    // .app-product-gallery {
    //     padding-right: 20px;
    // }
}