.bs-banner-app {
    .container {
        @include display-flex();
        @include box-align(center);
    }

    &.home-page {
        padding: 30px 10px;
        background: #262d3e;

        .home-category-slider {
            .swiper-slide {
                position: relative;
                width: 25% !important;
                min-height: inherit;
                background: transparent;

                &.type-big {
                    width: 50% !important;
                }
            }
        }
    }

    .title {
        color: $clr-white;
    }

    .desc {
        color: $clr-white;
        font-weight: $font-light;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background: #626262;
        text-align: center;
        line-height: 44px;

        &:before {
            content: "\e900";
            color: $clr-white;
            font-family: 'icomoon' !important;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 14px;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-next {
        &:before {
            content: "\e902";
        }
    }
}