.cm-sprite {
    background: url('../images/bajaj_icons.svg') no-repeat;
    background-size: 55px;
    width: 68px;
    height: 68px;
    display: block;
    margin: 0 auto 15px;

    &.icon-paperless {
        background-position: 6px -1733px;
    }

    &.icon-abundance-choice {
        background-position: 6px -1339px;
    }

    &.icon-assistance {
        background-position: 6px -1812px;
    }

    &.icon-geographies {
        background-position: 6px -1891px;
    }

    &.icon-call-support {
        background-position: 6px -1971px;
    }

    &.icon-trusted-campaign {
        background-position: 6px -2049px;
    }

    &.icon-age {
        background-position: 6px -2129px;
    }

    &.icon-destination {
        background-position: 6px -2207px;
    }

    &.icon-duration {
        background-position: 6px -2286px;
    }

    &.icon-custom-plan {
        background-position: 6px -5363px;
    }

    &.icon-claim-settlement {
        background-position: 6px -5442px;
    }

    &.icon-medical-checkup {
        background-position: 6px -5521px;
    }

    &.icon-extensive-coverage {
        background-position: 6px -5600px;
    }

    &.icon-reinstatement-benefit {
        background-position: 6px -5679px;
    }

    &.icon-fast-process {
        background-position: 6px -6152px;
    }

    &.icon-min-document {
        background-position: 6px -6232px;
    }

    &.icon-transparency-guaranted {
        background-position: 6px -6309px;
    }

    &.icon-custom-made-loans {
        background-position: 6px -6388px;
    }

    &.icon-trusted-campaign2 {
        background-position: 6px -6471px;
    }

    &.icon-interest-only-emi {
        background-position: 6px -6546px;
    }

    &.icon-unlimited-withdrawal {
        background-position: 6px -6626px;
    }

    &.icon-no-additional-charges {
        background-position: 6px -6705px;
    }

    &.icon-flexi-repayment {
        background-position: 6px -6784px;
    }

    &.icon-no-form-filling {
        background-position: 6px -6863px;
    }

    &.icon-eligible-criteria {
        background-position: 6px -6943px;
    }

    &.icon-documents-needed {
        background-position: 6px -7021px;
    }

    &.icon-secure-online {
        background-position: 6px -7178px;
    }

    &.icon-high-return {
        background-position: 6px -7257px;
    }

    &.icon-we-care {
        background-position: 6px -7337px;
    }

    &.icon-flexible-fd {
        background-position: 6px -7415px;
    }

    &.icon-security-guaranteed {
        background-position: 6px -7493px;
    }

    &.icon-pre-approved-loan {
        background-position: 6px -8047px;
    }

    &.icon-easy-payments {
        background-position: 6px -8126px;
    }

    &.icon-exclusive-offers {
        background-position: 6px -8203px;
    }

    &.icon-zero-foreclosure-charges {
        background-position: 6px -8283px;
    }

    &.icon-no-cost-emi {
        background-position: 6px -8364px;
    }

    &.icon-first-provider {
        background-position: 6px -8678px;
    }

    &.icon-extensive-coverage2 {
        background-position: 6px -8754px;
    }

    &.icon-affordable-premiums {
        background-position: 6px -8836px;
    }

    &.icon-trusted-companion2 {
        background-position: 6px -8917px;
    }

    &.icon-sum-insured {
        background-position: 6px -8994px;
    }

    &.icon-cash-free-servicing {
        background-position: 6px -9310px;
    }

    &.icon-claim-settlement-wallet {
        background-position: 6px -9388px;
    }

    &.icon-no-third-party {
        background-position: 6px -9467px;
    }

    &.icon-round-assistance {
        background-position: 6px -9545px;
    }

    &.icon-type-of-plan {
        background-position: 6px -10098px;
    }

    &.icon-add-on-cover {
        background-position: 6px -10256px;
    }

    &.icon-vehicle-age {
        background-position: 6px -10336px;
    }

    &.icon-geographic-location {
        background-position: 6px -10414px;
    }

    &.icon-type-of-engine {
        background-position: 6px -10572px;
    }

    //asif css starts
    &.icon-fees-charges {
        background-position: 6px -11272px;
    }

    &.icon-eligibility-criteria {
        background-position: 6px -11193px;
    }

    &.icon-wealth-create {
        background-position: 6px -3154px;
    }



    // asif css end
    &.icon-oops {
        background-position: 6px -825px;
        width: 148px;
        height: 120px;
        display: block;
        margin: 0 auto 15px;
        background-size: 1025px;
    }
}

.bs-sprite-home {
    background: url('../images/bajaj_icons.svg') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    margin: 6px auto;
    background-size: 40px !important;

    &.icon-personal-loan {
        background-position: 5px 2px;
    }

    &.icon-business-loan {
        background-position: 5px -55px;
    }

    &.icon-home-loan {
        background-position: 5px -113px;
    }

    &.icon-property {
        background-position: 5px -169px;
    }

    &.icon-unit-linked {
        background-position: 5px -227px;
    }

    &.icon-child-plan {
        background-position: 5px -285px;
    }

    &.icon-retirement-plan {
        background-position: 5px -342px;
    }

    &.icon-fd {
        background-position: 5px -399px;
    }

    &.icon-term-ins {
        background-position: 5px -457px;
    }

    &.icon-cyber-ins {
        background-position: 5px -514px;
    }

    &.icon-motor-ins {
        background-position: 5px -572px;
    }

    &.icon-travel-ins {
        background-position: 5px -628px;
    }

    &.icon-emi-card {
        background-position: 5px -686px;
    }

    &.icon-emi-store {
        background-position: 5px -744px;
    }

    &.icon-smart-phone {
        background-position: 5px -801px;
    }

    &.icon-led-tv {
        background-position: 5px -860px;
    }

    &.icon-professional-loan {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1203px;
    }

    &.icon-health-ins {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -687px;
    }

    &.icon-credit-card {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1087px;
    }

    &.icon-upi {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1031px;
    }

    &.icon-co-branded {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1146px;
    }

    &.icon-washing-machine {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -801px;
    }

    &.icon-refrigerator {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -859px;
    }

    &.icon-laptop {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -974px;
    }

    &.icon-speaker {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -916px;
    }

    &.icon-home-appliances {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -744px;
    }

    &.icon-car-ins {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1261px;
    }

    &.icon-two-wheeler-ins {
        background: url('../images/bajaj_icons_2.svg') no-repeat;
        background-position: 5px -1318px;
    }


}



.bs-sprite-home2 {
    background: url('../images/bajaj_icons.svg') 0 0 no-repeat;
    width: 68px;
    height: 68px;
    display: block;
    margin: 0 auto 15px;
    background-size: 55px;

    &.icon-fast-process {
        background-position: 6px -1260px;
    }

    &.icon-choice {
        background-position: 6px -1339px;
    }

    &.icon-trust {
        background-position: 6px -1419px;
    }
}

.bs-tile-sticky {
    .icon {
        &.user-icon {
            background-position: 2px -599px;
        }

        &.family-icon {
            background-position: 2px -630px;
        }

        &.student-icon {
            background-position: 2px -662px;
        }

        &.four-wheeler-icon {
            background-position: 2px -4446px;
        }

        &.two-wheeler-icon {
            background-position: 2px -4415px;
        }

        &.icon-self-employed-ca {
            background-position: 3px -4384px;
        }

        &.icon-salaried-doc {
            background-position: 3px -4322px;
        }

        &.icon-self-employed {
            background-position: 3px -4291px;
        }

        &.icon-salaried {
            background-position: 3px -4261px;
        }
    }
}

.cm-sprite-menu {
    background: url('../images/bajaj_icons.svg') 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 16px;

    &.icon-self-employed-ca {
        background-position: 2px -3188px;
    }

    &.icon-salaried-doc {
        background-position: 2px -3165px;
    }

    &.icon-self-employed {
        background-position: 2px -3120px;
    }

    &.icon-salaried {
        background-position: 2px -3098px;
    }

    &.icon-cyber-safe {
        background-position: 2px -2547px;
    }

    &.icon-fd {
        background-position: 2px -986px;
    }

    &.icon-tax-saving {
        background-position: 2px -917px;
    }

    &.icon-child-plan {
        background-position: 2px -940px;
    }

    &.icon-retirement-plan {
        background-position: 2px -963px;
    }

    &.icon-emi-card {
        background-position: 2px -1101px;
    }

    &.user-icon {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px 1px;
        background-size: 16px;
    }

    &.family-icon {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -22px;
        background-size: 16px;
    }

    &.student-icon {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -45px;
        background-size: 16px;
    }

    &.icon-four-wheeler {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -92px;
        background-size: 16px;
    }

    &.icon-two-wheeler {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -68px;
        background-size: 16px;
    }

    &.icon-engineer {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -114px;
        background-size: 16px;
    }

    &.icon-architect {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -137px;
        background-size: 16px;
    }

    &.icon-three-wheeler {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -160px;
        background-size: 16px;
    }

    &.icon-bike {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -183px;
        background-size: 16px;
    }

    &.icon-credit-card {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -228px;
        background-size: 16px;
    }

    &.icon-upi {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -205px;
        background-size: 16px;
    }

    &.icon-wallet {
        background: url('../images/bajaj_icons_2.svg') 0 0 no-repeat;
        background-position: 2px -251px;
        background-size: 16px;
    }






}

.bs-tile {
    .icon {
        &.user-icon {
            background-position: 0 -1504px;
        }

        &.family-icon {
            background-position: 0 -1582px;
        }

        &.student-icon {
            background-position: 0 -1661px;
        }

        &.four-wheeler-icon {
            background-position: 0px -11118px;
        }

        &.two-wheeler-icon {
            background-position: 0px -11042px;
        }

        &.icon-retirement {
            background-size: 47px;
            background-position: 4px -2832px;
        }

        &.icon-investment {
            background-size: 47px;
            background-position: 4px -2899px;
        }
    }
}

.bs-apply {
    .icon {
        &.icon-choose-destination {
            background-position: 18px -2365px;
        }

        &.icon-calander {
            background-position: 18px -2444px;
        }

        &.icon-coverage {
            background-position: 18px -2523px;
        }

        &.icon-complete-payment {
            background-position: 18px -2601px;
        }

        &.icon-policy-issued {
            background-position: 18px -2681px;
        }

        &.icon-choose-coverage {
            background-position: 18px -5758px;
        }

        &.icon-fill-form {
            background-position: 18px -5836px;
        }

        &.icon-assessment-insure {
            background-position: 18px -5917px;
        }

        &.icon-complete-payment2 {
            background-position: 18px -5994px;
        }

        &.icon-policy-issued2 {
            background-position: 18px -6074px;
        }

        &.icon-fill-detail {
            background-position: 18px -7573px;
        }

        &.icon-upload-documents {
            background-position: 18px -7652px;
        }

        &.icon-deposit-fd {
            background-position: 18px -7731px;
        }

        &.icon-track-returns {
            background-position: 18px -7810px;
        }

        &.icon-visit-our-portal {
            background-position: 18px -8441px;
        }

        &.icon-make-ol-payment {
            background-position: 18px -8520px;
        }

        &.icon-card-delivery {
            background-position: 18px -8600px;
        }
    }
}

/*asif start */
.bs-tile-dock {
    .icon {
        &.icon-self-employed-ca {
            background-position: 3px -4384px;
        }

        &.icon-salaried-doc {
            background-position: 3px -4322px;
        }

        &.icon-self-employed {
            background-position: 3px -4291px;
        }

        &.icon-salaried {
            background-position: 3px -4261px;
        }
    }
}

//@media (max-width:$breakpoint-xs) {
.cm-hidden-xs {
    display: none;
}

.cm-sprite {
    width: 40px;
    height: 40px;
    background-size: 30px;

    &.icon-paperless {
        background-position: 5px -944px;
    }

    &.icon-abundance-choice {
        background-position: 5px -729px;
    }

    &.icon-assistance {
        background-position: 5px -988px;
    }

    &.icon-geographies {
        background-position: 5px -1031px;
    }

    &.icon-call-support {
        background-position: 5px -1074px;
    }

    &.icon-trusted-campaign {
        background-position: 5px -1116px;
    }

    &.icon-age {
        background-position: 5px -1160px;
    }

    &.icon-destination {
        background-position: 5px -1203px;
    }

    &.icon-duration {
        background-position: 5px -1249px;
    }

    &.icon-custom-plan {
        background-position: 4px -2925px;
    }

    &.icon-claim-settlement {
        background-position: 3px -2967px;
    }

    &.icon-medical-checkup {
        background-position: 4px -3010px;
    }

    &.icon-extensive-coverage {
        background-position: 4px -3053px;
    }

    &.icon-reinstatement-benefit {
        background-position: 4px -3096px;
    }

    &.icon-fast-process {
        background-position: 4px -3354px;
    }

    &.icon-min-document {
        background-position: 4px -3398px;
    }

    &.icon-transparency-guaranted {
        background-position: 4px -3439px;
    }

    &.icon-custom-made-loans {
        background-position: 4px -3484px;
    }

    &.icon-trusted-campaign2 {
        background-position: 4px -3528px;
    }

    &.icon-interest-only-emi {
        background-position: 4px -3569px;
    }

    &.icon-unlimited-withdrawal {
        background-position: 4px -3613px;
    }

    &.icon-no-additional-charges {
        background-position: 4px -3655px;
    }

    &.icon-flexi-repayment {
        background-position: 4px -3698px;
    }

    &.icon-no-form-filling {
        background-position: 4px -3743px;
    }

    &.icon-eligible-criteria {
        background-position: 4px -3786px;
    }

    &.icon-documents-needed {
        background-position: 4px -3828px;
    }

    &.icon-secure-online {
        background-position: 4px -3914px;
    }

    &.icon-high-return {
        background-position: 4px -3957px;
    }

    &.icon-we-care {
        background-position: 4px -4001px;
    }

    &.icon-flexible-fd {
        background-position: 4px -4043px;
    }

    &.icon-security-guaranteed {
        background-position: 4px -4086px;
    }

    &.icon-pre-approved-loan {
        background-position: 4px -4129px;
    }

    &.icon-easy-payments {
        background-position: 4px -4431px;
    }

    &.icon-exclusive-offers {
        background-position: 4px -4474px;
    }

    &.icon-zero-foreclosure-charges {
        background-position: 4px -4517px;
    }

    &.icon-no-cost-emi {
        background-position: 4px -4561px;
    }

    &.icon-first-provider {
        background-position: 4px -4732px;
    }

    &.icon-extensive-coverage2 {
        background-position: 4px -4774px;
    }

    &.icon-affordable-premiums {
        background-position: 4px -4818px;
    }

    &.icon-trusted-companion2 {
        background-position: 4px -4862px;
    }

    &.icon-sum-insured {
        background-position: 4px -4904px;
    }

    &.icon-cash-free-servicing {
        background-position: 4px -5077px;
    }

    &.icon-claim-settlement-wallet {
        background-position: 4px -5119px;
    }

    &.icon-no-third-party {
        background-position: 4px -5163px;
    }

    &.icon-round-assistance {
        background-position: 4px -5205px;
    }

    &.icon-type-of-plan {
        background-position: 4px -5506px;
    }

    &.icon-add-on-cover {
        background-position: 4px -5593px;
    }

    &.icon-vehicle-age {
        background-position: 4px -5636px;
    }

    &.icon-geographic-location {
        background-position: 4px -5679px;
    }

    &.icon-type-of-engine {
        background-position: 4px -5765px;
    }

    /*asif icons start here*/
    &.icon-fees-charges {
        background-position: 4px -6146px;
    }

    &.icon-eligibility-criteria {
        background-position: 4px -6104px;
    }

    /*asif icons end here*/
    &.icon-oops {
        background-position: 5px -1249px;
    }
}

.switch-wrap {
    .label-text {
        font-size: 1.6rem;
        line-height: 25px;
        font-weight: $font-bold;
    }
}

.bs-sprite-home2 {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
    background-size: 30px;

    &.icon-fast-process {
        background-position: 5px -686px;
    }

    &.icon-choice {
        background-position: 5px -729px;
    }

    &.icon-trust {
        background-position: 5px -774px;
    }
}

.bs-sprite-home {
    width: 35px;
    height: 35px;
    display: block;
    margin: 6px auto;
    background-size: 30px !important;

    &.icon-personal-loan {
        background-position: 2px 0;
    }

    &.icon-business-loan {
        background-position: 2px -43px;
    }

    &.icon-home-loan {
        background-position: 2px -86px;
    }

    &.icon-property {
        background-position: 2px -128px;
    }

    &.icon-unit-linked {
        background-position: 2px -171px;
    }

    &.icon-child-plan {
        background-position: 2px -215px;
    }

    &.icon-retirement-plan {
        background-position: 2px -258px;
    }

    &.icon-fd {
        background-position: 2px -301px;
    }

    &.icon-term-ins {
        background-position: 2px -344px;
    }

    &.icon-cyber-ins {
        background-position: 2px -387px;
    }

    &.icon-motor-ins {
        background-position: 2px -430px;
    }

    &.icon-travel-ins {
        background-position: 2px -472px;
    }

    &.icon-emi-card {
        background-position: 2px -516px;
    }

    &.icon-emi-store {
        background-position: 2px -559px;
    }

    &.icon-smart-phone {
        background-position: 2px -602px;
    }

    &.icon-led-tv {
        background-position: 2px -646px;
    }


    &.icon-professional-loan {
        background-position: 2px -904px;
    }

    &.icon-health-ins {
        background-position: 2px -516px;
    }

    &.icon-credit-card {
        background-position: 2px -817px;
    }

    &.icon-upi {
        background-position: 2px -774px;
    }

    &.icon-co-branded {
        background-position: 2px -860px;
    }

    &.icon-washing-machine {
        background-position: 2px -602px;
    }

    &.icon-refrigerator {
        background-position: 2px -645px;
    }

    &.icon-laptop {
        background-position: 2px -731px;
    }

    &.icon-speaker {
        background-position: 2px -688px;
    }

    &.icon-home-appliances {
        background-position: 2px -559px;
    }

    &.icon-car-ins {
        background-position: 2px -946px;
    }

    &.icon-two-wheeler-ins {
        background-position: 2px -989px;
    }
}

.bs-apply {
    .icon {
        &.icon-choose-destination {
            background-position: 10px -1283px;
        }

        &.icon-calander {
            background-position: 10px -1326px;
        }

        &.icon-coverage {
            background-position: 10px -1370px;
        }

        &.icon-complete-payment {
            background-position: 10px -1413px;
        }

        &.icon-policy-issued {
            background-position: 10px -1456px;
        }

        &.icon-choose-coverage {
            background-position: 10px -3134px;
        }

        &.icon-fill-form {
            background-position: 10px -3178px;
        }

        &.icon-assessment-insure {
            background-position: 10px -3221px;
        }

        &.icon-complete-payment2 {
            background-position: 10px -3264px;
        }

        &.icon-policy-issued2 {
            background-position: 10px -3307px;
        }

        &.icon-fill-detail {
            background-position: 10px -4124px;
        }

        &.icon-upload-documents {
            background-position: 10px -4167px;
        }

        &.icon-deposit-fd {
            background-position: 10px -4210px;
        }

        &.icon-track-returns {
            background-position: 10px -4254px;
        }

        &.icon-visit-our-portal {
            background-position: 10px -4598px;
        }

        &.icon-make-ol-payment {
            background-position: 10px -4641px;
        }

        &.icon-card-delivery {
            background-position: 10px -4685px;
        }
    }
}

//}

// @include media($media1170) {
//     .container {
//         width: 100%;
//         padding: 0 15px;
//     }
// }