.bs-timer {
    font-size: 1.3rem;
    font-weight: $font-extrabold;

    .periodDisplay {
        font-weight: $font-light;
        margin-left: 2px;
    }

    .displaySection {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        position: relative;

        +.displaySection {
            &:before {
                content: ":";
                position: absolute;
                left: -5px;
                top: -1px;

            }
        }
    }
}