.bs-home-category-app {
    margin: 0;
    position: relative;

    &.clicked {
        &:before {
            position: absolute;
            top: 0;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }

    .home-category-slider {
        padding: 0;
        height: auto;
    }

    .grid-row {
        position: relative;
        padding: 0px 25px;

        &:hover {

            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
                visibility: visible;
            }
        }

    }

    .product-detail {
        cursor: pointer;
        display: block;
        width: 100%;
        margin: 2px 0;

        text-align: center;


        &:before {
            content: "";
            right: 50%;
            height: 2px;
            position: absolute;
            transition: all 0.2s linear;
            bottom: 2px;
            left: 50%;
            background: $clr-primary;
        }

        &:hover,
        &.active {
            .bs-icon-text2 {
                box-shadow: 0 0 3px rgba(49, 49, 49, 0.719);
                background: #12171f;
            }
        }

        &.active {
            &:before {
                content: "";
                right: 2px;
                height: 2px;
                bottom: 2px;
                left: 2px;
                z-index: 6;
            }
        }

        .bs-icon-text2 {
            position: relative;
            margin: 7px;
            transition: all 0.2s linear;
            margin: 0 2px;
            padding: 5px 5px;
            min-height: 99px;
            background: #12171f;

            .text {
                font-size: 1.2rem;
                color: $clr-white;
                font-family: $font;
                text-transform: capitalize;
                line-height: 14px;
                height: 30px;
                overflow: hidden;
            }

            span {
                margin: 3px auto;
                display: block;

                &.cm-sprite2 {
                    margin: 3px auto;
                }
            }

            .icon-text-wrap {
                display: block;
                position: relative;
                transition: all 0.2s linear;
                top: 0;
            }
        }
    }

    .swiper-slide {
        &.type-big {
            .table-cell-wrap {
                display: table-cell;
                vertical-align: middle;

                &:first-child {
                    width: 80px;
                }

            }



            .bs-icon-text2 {
                padding: 11px 10px 13px;
                text-align: left;
                padding-top: 18px;

                .icon-text-wrap {
                    display: table;
                    width: 100%;
                }

                .icon {
                    margin-right: 10px;
                }

                .text {
                    line-height: 21px;
                    font-size: 1.7rem;
                    height: auto;
                    padding-left: 12px;
                    font-weight: $font-bold;
                }


            }
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 25px;
        opacity: 0;
        background: transparent;
        font-size: 11px;
        visibility: hidden;
        transition: all 0.2s linear;

        &:before {
            font-size: inherit;
        }
    }
}


@media(max-width:$breakpoint_sm) {
    .bs-home-category-app {
        width: 100%;

        .product-detail {
            .bs-icon-text2 {
                min-height: 100px;
            }
        }

        .swiper-slide {
            &.type-big {
                .bs-icon-text2 {
                    padding-top: 19px;

                    .text {
                        font-size: 1.55rem;
                    }
                }

                .table-cell-wrap {
                    &:first-child {
                        width: 70px;
                    }
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
            background: rgba(255, 255, 255, 0.2);
            visibility: visible;
            opacity: 1;
        }

        .swiper-button-next {
            right: -15px;
        }

        .swiper-button-prev {
            left: -15px;
        }

        .grid-row {
            padding: 0px 0;
        }
    }

}


@media(max-width:$breakpoint_xs) {

    .bs-home-category-app {
        margin: 0 0;

        .product-detail {
            margin: 1px 0;

            .bs-icon-text2 {
                margin: 0 1px;
                min-height: 85px;

                .text {
                    font-size: 1.1rem;
                    line-height: 13px;
                    height: 28px;
                    margin-top: 6px;
                }
            }
        }

        .swiper-slide {
            &.type-big {
                .table-cell-wrap {
                    &:first-child {
                        width: 50px;
                    }
                }

                .bs-icon-text2 {
                    padding-top: 19px;


                    .text {
                        overflow: hidden;
                        height: auto;
                        padding-left: 10px;
                        font-size: 1.3rem;
                        line-height: 16px;
                    }
                }
            }
        }
    }

}