.btn {
    padding: 10px 15px;
    font-size: 1.1rem;
    display: inline-block;
    text-transform: uppercase;
    color: $clr-white;

    background: $clr-primary;

    &:hover {
        color: $clr-white;
    }

    &.type-black {
        background: #000;

        &:hover {
            color: $clr-white;
        }
    }

    &.btn-link {
        color: $clr-primary;
        background: transparent;
        border-radius: 0;
        font-weight: $font-bold;
        padding: 3px 0;
        font-size: 1.1rem;
        text-decoration: underline;

        &:hover {
            color: $clr-primary;
        }

        &.type-black {
            color: #000;

            &:hover {
                color: #000;
            }
        }

        &.type-white {
            color: $clr-white;
        }
    }
}