.bs-fluid-container {
    .item-wrapper {
        white-space: nowrap;
        overflow: auto;
        padding: 0 10px;

        .item {
            display: inline-block;
            margin-right: 8px;
            float: none !important;
        }
    }
}