.bs-home-category-detail-app {
    position: absolute;
    top: 28px;
    right: 15px;
    width: 45.5%;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;

        .close {
            opacity: 1;

        }

        &.hide-close {
            .close {
                opacity: 0;
                transition-delay: 0.1s; // keep it 1s for fold effect
            }
        }
    }

    .product-detail-popup-app {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        transition: all 0s linear;

        &.active {
            opacity: 1;
            visibility: visible;

            .name-video-wrap,
            .product-features,
            .steps-wrap,
            .button-wrap,
            .button-wrap2,
            .sample-products-wrap {
                transform: rotate(0);
                opacity: 1;
            }

            .name-video-wrap {
                transition-delay: 0s;
            }

            .product-features,
            .sample-products-wrap {
                transition-delay: 0.2s;
            }

            .steps-wrap,
            .button-wrap2 {
                transition-delay: 0.4s;
            }

            .button-wrap {
                transition-delay: 0.6s;
            }

            .pagination-wrap {
                opacity: 1;
            }
        }

        &.add-shadow {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        }

        &.close-popup {
            opacity: 0;
            transition: all 0.3s linear;

            .animate-fold {
                transform: rotate(0);
                opacity: 1;
            }

            .pagination-wrap {
                opacity: 0;
                transition-delay: 0.1s;
            }
        }
    }

    .detail-wrap {
        perspective: 2000px;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        z-index: 2;
        padding: 12px;
        font-size: 11px;
        cursor: pointer;
        opacity: 0;
        transition: all 0.2s linear 0.2s; // --- all 0.4s linear 1.8s;
    }

    .name-video-wrap {
        height: 250px;
        position: relative;
        transform: rotateX(90deg);
        transform-origin: top;
        transition: transform 0.4s ease-in-out;

        .name-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 75px;
            line-height: 16px;
            width: 100%;
            z-index: 4;
            padding-bottom: 15px;

            &:before {
                content: "";
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
                top: -10%;
                background: linear-gradient(to bottom, transparent, #000);
                opacity: 0.70;
                z-index: -1;
                transition: all .5s;
            }

            .icon {
                position: absolute;
                left: 12px;
                top: 0;
                margin: 0;
            }

            .title {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
                line-height: 19px;
            }

            .desc {
                font-size: 1.2rem;
            }

            .tag {
                font-size: 9px;
                line-height: 10px;
                padding: 3px 9px 2px;
                vertical-align: top;
                margin: 0px 8px 3px 0;

                &:hover {
                    background: #e2e2e2;
                    color: $clr-text-color;
                }

            }
        }

        .playbtn {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            cursor: pointer;
            font-size: 5.5rem;

            &:before {
                color: $clr-white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.disabled {
                cursor: not-allowed;
            }
        }


        .video-wrap {
            background: $clr-secondary;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            width: 100%;
            height: 100%;

            .inlinePlayButton {
                display: none !important;
            }

            .inline-YTPlayer {
                height: 100% !important;
            }

            .player {
                padding: 0 !important;
                height: 100% !important;
            }
        }

    }


    .name-video-wrap,
    .product-features,
    .steps-wrap,
    .button-wrap,
    .button-wrap2,
    .sample-products-wrap {
        position: relative;
        transform: rotateX(180deg);
        transform-origin: top;
        opacity: 0;
        transition: transform 0.2s ease-in-out, opacity 0s ease-in-out;
    }



    .product-features {
        background: #f4f4f4;
        padding: 8px 18px;

        .bs-list {
            .list-item {
                padding-left: 30px;
                margin: 8px 0;
                color: $clr-footer-bg;

                &:before {
                    width: 8px;
                    height: 8px;
                    top: 7px;
                }
            }
        }
    }

    .steps-wrap {
        overflow: hidden;
        padding: 14px 18px 0;
        background: $clr-white;
        counter-reset: my-sec-counter;

        .step-inner {
            background: #fff;
            display: inline-block;
            padding-right: 5px;
        }

        ul {
            overflow: hidden;
        }

        .step {
            float: left;
            width: 25%;
            padding: 11px 30px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 4px;
                width: 50%;
                z-index: -1;
                border-bottom: 1px dotted #000;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:before {
                position: absolute;
                font-size: 75px;
                font-weight: $font-extrabold;
                color: #deecf5;
                z-index: 0;
                top: 0;
                left: 0;
                line-height: 56px;
                counter-increment: my-sec-counter;
                content: counter(my-sec-counter);
            }

            .step-title {
                color: $clr-footer-bg;
                font-size: 1.35rem;
                position: relative;
                z-index: 2;
                display: inline-block;
                line-height: 17px;

                .cm-bold {
                    display: block;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .note-text {
        font-size: 1.2rem;
        padding-left: 53px;
        position: relative;
        padding-bottom: 14px;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 10px;
        text-align: left;

        .cm-bold {
            position: absolute;
            left: 0;
            top: -1px;
            color: #000;
            font-size: 1.3rem;
        }

        .icon {
            font-size: 1.9rem;
            font-weight: bold;
            margin-right: 3px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 19px;
        }

        .text {

            line-height: 15px;
            margin-top: 2px;
        }
    }

    .sample-products-wrap {
        position: relative;
        z-index: 1;
        border-bottom: 1px dashed #ccc;
        background: $clr-white;

        .price-wrap {
            color: #8d8d8d;
        }

        .primary-product {
            padding: 15px;
            float: left;
            width: 40%;
            box-sizing: border-box;

            .p-image {
                margin-bottom: 8px;
            }
        }

        .p-name {
            font-size: 12px;
            color: #000;

            .p-title+.price-wrap {
                margin-top: 5px;
            }
        }

        .swiper-slide {
            padding: 15px;
            min-height: 100px;
            min-height: inherit;
            border-right: 1px dashed #ccc;
            border-bottom: 1px solid #ccc;
            background: $clr-white;

            &:nth-child(even) {
                border-bottom: 0;
            }

            .p-image {
                float: left;
                width: 30%;
                text-align: center;

                .img {
                    max-width: 80px;
                }
            }

            .p-name {
                float: left;
                width: 65%;
            }
        }

        a {
            width: 100%;
            display: inline-block;
        }

        .product-slider {
            width: 60%;
            border-left: 1px dashed #ccc;
            float: right;
            box-sizing: border-box;

            .swiper-container {
                padding-right: 80px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    width: 80px;
                    background: linear-gradient(to right, transparent, #fff);
                }
            }
        }

        .pagination-wrap {
            opacity: 0;
            transition: all 0.3s linear 0.7s;
        }

        .swiper-pagination {
            bottom: -40px;
            width: 75px;
            font-size: 1.4rem;
            color: #8d8d8d;
            left: 43px;

            span {
                margin: 0 3px;
            }
        }

        .swiper-pagination-current {
            color: #000;
            font-weight: $font-extrabold;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: inherit;
            bottom: -53px;
            background: transparent;

            &:before {
                color: #000;
                font-size: 13px;
                font-weight: $font-extrabold;
            }

            &.swiper-button-disabled {
                display: block;
            }
        }

        .swiper-button-prev {
            left: 15px;
        }

        .swiper-button-next {
            left: 120px;
        }
    }

    .button-wrap,
    .button-wrap2 {
        background: $clr-white;
        padding: 10px 18px;
        text-align: right;

        .btn-link {
            font-size: 1.3rem;
            float: left;
            padding: 11px 0;
            color: #a9a9a9;
        }

        .swiper-control {
            float: left;
        }

        .btn-md {
            border: 1px solid $clr-primary;
            margin-left: 3px;
        }
    }
}

@media(max-width:$breakpoint_sm) {

    .bs-home-category-detail-app {
        width: 100%;
        right: 0;
        top: 55px;
        position: fixed;
        height: auto !important;
        bottom: 0;
        overflow: auto;
        transition: all 0.2s linear 0.15s;

        &.active {
            background: $clr-white;
            // z-index: 12;
        }

        .steps-wrap {
            .step-inner {
                padding-right: 10px;
            }
        }

        .name-video-wrap {
            .name-wrap {
                padding-left: 58px;
                line-height: 18px;

                .title {
                    font-size: 1.6rem;
                    line-height: 19px;
                }
            }
        }

        .product-features {
            .bs-list {
                .list-item {
                    padding-left: 24px;
                    margin: 5px 0;
                    line-height: 17px;
                    font-size: 1.3rem;

                    &:before {
                        top: 5px;

                    }
                }
            }
        }

        .sample-products-wrap {
            .swiper-slide {
                .p-image {
                    max-width: 90px;
                }

                .p-name {
                    padding-left: 8px;
                }
            }
        }
    }

    .disable-scroll {
        overflow: hidden;
    }

}


@media(max-width:$breakpoint_xs) {


    .bs-home-category-detail-app {

        .button-wrap,
        .button-wrap2 {
            padding: 12px 15px;

            .btn-link {
                font-size: 1rem;
            }

            .btn-md {
                font-size: 1.2rem;
                padding-left: 8px;
                padding-right: 8px;
            }
        }

        .name-video-wrap {
            height: 200px;

            .playbtn {
                font-size: 4.5rem;
            }
        }

        .product-features {
            padding: 10px 18px;
        }

        .sample-products-wrap {
            .swiper-slide {
                .p-name {
                    font-size: 11px;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                &:before {
                    font-size: 12px;
                }
            }

            .swiper-button-next {
                left: 110px;
            }

            .swiper-pagination {
                font-size: 1.2rem;
                width: 68px;
                left: 41px;
            }

            .primary-product {
                width: 38%;
            }

            .swiper-slide {
                border-right: 0;
                padding: 10px 15px;
            }

            .product-slider {
                width: 62%;

                .swiper-container {
                    padding-right: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .steps-wrap {
            padding: 20px 0 12px 15px;

            .step {
                padding: 8px 15px;

                &:before {
                    line-height: 38px;
                    font-size: 40px;
                }

                &:after {
                    top: 23px;
                }

                .step-title {
                    font-size: 1rem;
                    line-height: 12px;

                    .cm-bold {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .button-wrap,
        .button-wrap2 {
            padding: 10px 15px;
        }

        .note-text {
            font-size: 1.05rem;
            margin-right: 0;
            padding-left: 46px;
            padding-bottom: 8px;
            margin-bottom: 8px;

            .icon {
                font-size: 1.4rem;
            }

            .cm-bold {
                top: -2px;
                font-size: 1.1rem;
                line-height: 9px;
            }

            .text {
                line-height: 12px;
            }
        }
    }

}