.bs-product-app {
    font-size: 1.2rem;
    color: $clr-text-color;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    background: $clr-white;
    //@include border-radius(10px);

    &.with-border {
        @include border-radius(0);
        border-bottom: 1px dashed #ccc;
        border-right: 1px dashed #ccc;
    }

    .product-desc-app {
        margin-top: 10px;
        line-height: 16px;
        white-space: normal;
    }

    .title {
        margin: 4px 0;
    }

    .new-price {
        font-weight: $font-extrabold;
        color: #000;
        margin-right: 7px;
    }

    .old-price {
        font-weight: $font-light;
        text-decoration: line-through;
        color: #a6a6a6;
        margin-right: 7px;
    }

    .discount {
        font-weight: $font-light;
        color: #2173bc;
        margin-right: 0;
    }
}