.bs-tag {
    font-size: 1.2rem;
    padding: 4px 12px;
    text-transform: uppercase;
    font-weight: $font-bold;
    background: #e2e2e2;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
}

.tag-list {
    margin-top: 22px;

    li {
        display: inline-block;
    }
}

.tag {
    font-size: 1.4rem;
    padding: 4px 20px;
    font-weight: $font-bold;
    background: #e2e2e2;
    color: $clr-text-color;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    border-radius: 25px;
    transition: all 0.2s linear;
    text-transform: uppercase;
    margin: 4px 8px 4px 0;

    &.active,
    &:hover {
        background: $clr-text-color;
        color: $clr-white;
    }
}

@media(max-width:$breakpoint-xs) {
    .tag {
        font-size: 1.2rem;
        padding: 2px 10px;
    }
}