.bs-gallery {
    padding: 4px 0;

    .title {
        &.type-big {
            margin: 10px 0;
            padding: 0 10px;
            text-align: center;
        }
    }

    .big-image {

        //overflow: hidden;
        .bs-product {
            box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.07) !important;
            border-radius: 10px 10px 0 0;
        }
    }

    .bs-fluid-container {
        .item-wrapper {
            margin-left: 10px;
            padding: 10px;

            .item {
                margin-right: 10px;
            }

            img {
                cursor: pointer;
            }
        }
    }
}