.bs-heading {
  display: table;
  width: 100%;
  margin-bottom: 15px;

  .title-wrap {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    font-size: 1.3rem;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: $font-extrabold;
    color: $clr-secondary;
    letter-spacing: 0.4px;

    &.type-2 {
      color: #262d3e;
    }
  }

  .btn-wrap {
    display: table-cell;
    max-width: 100px;
    vertical-align: middle;
    min-width: 90px;
    text-align: right;
  }
}