<footer>
    <div class="bs-footer">

    </div>
</footer>
<div class="bs-loader" style="display:none;">
    <div class="loader">
        <img src="assets/images/bajaj-logo.png" alt="" />
        <img src="assets/images/loader.gif" class="cm-img-responsive gif-img" />
    </div>
</div>