<header>
    <div class="bs-header" style="padding:7px">
        <div class="container">
            <nav class="my-nav clearfix">
                <a href="#" class="logo-parent" style="display:inline-block; vertical-align:middle">
                    <img src="assets/images/logo.png" style="max-width: 40px" class="cm-img-reponsive" alt="Bajaj Finserve Market" />
                </a>
                <!-- <h1 style="display:inline-block; margin-left:20px;; vertical-align:middle">Header</h1> -->
            </nav>
        </div>
    </div>
    <div class="bs-side-menu">
    </div>
</header>