<!-- build:js assets/js/vendor.js -->
<script type="text/javascript" src="assets/js/libraries/jquery.js"></script>
<script type="text/javascript" src="assets/js/libraries/modernizr.js"></script>
<script type="text/javascript" src="assets/js/libraries/detectizr.js"></script>
<script type="text/javascript" src="assets/js/libraries/swiper.min.js"></script>
<script type="text/javascript" src="assets/js/libraries/countdownTimer.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/custom.js -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- endbuild -->